hr{
    width:75%;
    border:2px solid rgb(191, 183, 183);
}
h1{
    margin-left: 200px;
}
#container{
    display: grid;
    grid-template-columns:20% 50% 30%;
    width:80%;
    margin: auto;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
#container>div{
    border:1px solid rgb(191, 183, 183);
    height:450px
}
h3{
    margin-left: 50px;
    
}
p{
    width:50%;
    font-size: large;
    margin-left: 20px;
}
input{
    width:300px;
    margin-left: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}
h4{
    padding-bottom: 20px;
    margin-left: 10px;
}
button{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    background-color: rgb(81, 168, 202);
    color:white;
    margin-left: 50px;
    margin-top: 20px;
    border: none;
}
button:hover{
    background-color: green;
}
#container2{
    display: grid;
    grid-template-columns:20% 50% 30%;
    width:80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#container2>div{
    border:1px solid rgb(191, 183, 183);
    height:450px
}
h2{
    margin-left: 10px;
}
#p3{
    margin-top: -5px;
}
#container2>div:nth-child(1){
    border: none;
}
#container>div:nth-child(1){
    border: none;
}
#hap{
    margin-top: -30px;
    margin-left: 50px;
}
#show{
    font-size: 18px;
    margin-left:50px ;
    margin-top: -15px;
}
#no{
    padding: 15px 25px;
    margin-top: -10px;
}
#sad{
    margin-left:40px ;
    font-size: 22px;
    margin-top: 0px;
}