#navbar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding-top: 110px;
}
h1{
font-family:"Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 24.3px;
color: rgb(0, 0, 0);

}
@keyframes float{
   from{
      transform: rotate(5deg);
   }
   to{
      transform: rotate(-5deg);
   }
}
.websites{
   text-transform: uppercase;
   text-shadow:0 1px  yellow,0 2px 0 yellow,0 3px yellow, 0 4px 0 yellow;
   animation: float 3s linear infinite alternate
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#for{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 26px;    
    Font-weight: 300;    
    line-height: 31.2px;    
    color: rgb(36, 28, 21);
    margin-left: 250px;
    margin-top: 70px;
}
#container4{
    display: grid;
    grid-template-columns:40% 60%; 
    width:70%;
    gap:30px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#container4>div{
    border: 1px solid grey;
    height:auto;
}
input{
    width:80%;
    height:20px;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 44px;
    border:none;
    border-bottom: 1px solid grey;
}
.enter{
    text-align: center;
    font-family:"Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 24.3px;
color: rgb(0, 0, 0);
padding-top: 30px;
padding-bottom: 30px;
}
p{
   margin-left: 43px;
   font-size: medium;
}
#can{
    height:400px;
    background-color: rgb(198, 228, 240);
}
#can>h3{
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
}
#can>h1{
    margin-left: 60px;
}
hr{
    width: 80%;
   border: 1px solid grey;
}
.web{
    font-family:  "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 19px;   
    Font-weight: 600;   
    Line-height: 20.25px;   
    color:white;
    margin-top: 20px;
    
 }

 #more2{
    width:180px;
    height:65px;
    border:1px solid skyblue;
    margin-top: 50px;
    margin-left: 30px;
    margin-top: 50px;
    background-color: #257777;
 }
 #can1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    justify-content: center;
    align-items: center;
 }
 #can1>div{
    margin: auto;
    justify-content: center;
    align-items: center;
 }
 #can1>div>h2{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 14px;    
    Font-weight: bold;    
    Line-height: 14px;    
    color: rgb(36, 28, 21);
    padding-bottom: 30px;
 }
#can1>div>p{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 16px;    
    Font-weight: 400;    
    Line-height: 21.6px;    
    color: rgb(64, 59, 59);
    margin-left: 12px;
    margin-bottom: 52px;
}
.hi{
    width:180%;
    margin-left: -50px;
}
#new{
    font-size: 19px;
    margin-left: 230px;
}
#feature{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 25px;    
    Font-weight: bold;    
    Line-height: 24.2px;    
    color: rgb(36, 28, 21);
    text-align: center;
    padding-top: 80px;
 }
 #create{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 16px;    
    Font-weight: 400;    
    Line-height: 24px;    
    color: rgb(36, 28, 21);
    text-align: center;
    margin-top: 20px;
 }
 #box7{
    height:300px;
    background-color: #E1EFEF;
    margin-top: 70px;
 }
 #more3{
    width:180px;
    height:65px;
    border:1px solid skyblue;
    margin-top: 50px;
    margin-left: 45%;
    margin-top: 50px;
    background-color: #257777;;
 }
 #made{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 54px;    
    Font-weight: 300;    
    Line-height: 54px;    
    color: rgb(36, 28, 21);
    text-align: center;
    margin: 120px;
 }
 #can3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 72%;
    margin: auto;
    justify-content: center;
    align-items: center;

 }
 #can3>div{
    margin: auto;
    justify-content: center;
    align-items: center;
    
 }
 #can3>div>img{
    width:100%;
    height:200px
 }
 #can4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 62%;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

 }
 #can4>div{
    margin: auto;
    justify-content: center;
    align-items: center;
    
 }
 #can4>div>img{
    width:100%;
    height:200px
 }
 #can5{
    height:350px;
    background-color: yellow;
    margin-top: 100px;
 }
 #can5>h1{
    font-family:  "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 54px;    
    Font-weight: 300;    
    Line-height: 54px;    
   color: rgb(36, 28, 21);
   text-align: center;
   padding-top:8%;
 }
 #faq{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 32px;   
    Font-weight: 300;   
    Line-height: 35.2px;   
    color: rgb(36, 28, 21);
    margin-left: 190px;
    margin-top: 100px;
 }
 #que{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 5, 200px;
    width:80%;
    margin: auto;
    justify-content: center;
    align-items: center;
 }
 #que>div{
    border-bottom:1px  solid black;
    display: grid;
    grid-template-columns: 90% 10%;
 }
 .ans{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 20px;   
    Font-weight: 300;   
    Line-height: 26px;   
    color: rgb(37, 37, 37);
    margin-top: 50px;
 }
 .plus{
   margin-top: 50px;
   font-size: 26px;
   color: #164a4a;
 }
 #box10{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:75%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

 }
 #need{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 54px;    
    Font-weight: 300;    
    Line-height: 54px;    
    color: rgb(36, 28, 21);
 }
 #unblock{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 20px;    
    Font-weight: 300;    
    Line-height: 30px;    
    color: rgb(64, 59, 59);
 }
 #more5{
    width:180px;
    height:65px;
    border:1px solid skyblue;
    margin-top: 50px;
    margin-left: 30px;
    margin-top: 95px;
 color:white;
 background-color: #408080;
 }
 #box5{
    display: grid;
    grid-template-columns: repeat(6,200px);
    height:auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #DADDDD;
 }
 #box5>div{
    
    height: 500px;
 }
 .fotter{
    font-family:  "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 13px;   
    Font-weight: 400;   
    Line-height: 17.55px;   
    color: rgb(36, 28, 21);
    margin-top: 20px;
 }
 #heading{
    margin-bottom: 60px;
    margin-left: 27px;
    margin-top: 50px;
 }
 .img1{
    width:85%;
    height: 40px;
    margin-top: 45px;
 }

#box4{
   display: flex;
   margin-top: 130px;
   height: 100px;
   background-color: #DADDDD;
   border-bottom: 1px solid grey;
}
#p1{
   font-size: 18px;
   font-weight: bold;
   margin-top: 40px;
   margin-left: 390px;
}
p{
   margin-top: 40px;
}
#nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   width: 96.9%;
   margin: auto;
  
   background-color: #ffe01b;
   padding: 0px 20px;
   position: fixed;
   top: 0px;
}
#main{
   margin-top: 0px ;
}
#option{
   display: flex;
   gap: 20px;
}
#logo{
   width: 200px;
}
#logo>img{
   width: 100%;
}
#right_option{
   display: flex;
   align-items: center;
   gap: 20px;
}
#cont{
   display: flex;
   flex-direction: column;
   text-align: center;
}
#worldmap{
   display: flex;
   align-items: center;
   gap: 20px;
}
#login{
   background-color: transparent;
   border: 1px solid black;
   padding: 10px 15px;
   transition: 0.2s linear;
   
}
#login1{
   background-color: transparent;
   border: 1px solid black;
   padding: 10px 15px;
   transition: 0.2s linear;
   margin-top: 25px;

}
#Signup1{
   background-color: #007c89;
   color: aliceblue;
   border: none;
   padding: 10px 15px ;
   transition: 00.2s linear;
}
#login:hover{
   background-color: rgb(230, 224, 224);
}
#Signup1:hover{
   background-color: #0c5a63;
}