* {
    margin: 0px;
    padding: 0px;
}

header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 0px 230px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14.0843px;
    font-weight: 500;
    line-height: 14.0843px;
    padding: 20px;
    align-items: center;
    background-color: #f9e0fa;
}

#sidebar>button {
    margin-right: 30px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;

}

#login_signup {
    display: flex;
    align-items: center;
    text-align: center;
    /* margin-left: 5vw; */

}

header>img {
    height: 40px;
    /* margin-left: 5vw; */
}

#login_signup>p,
#login_signup>button {
    margin-right: 30px;
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

#login_signup>button:nth-child(2) {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 100px;
    background-color: transparent;
}

#login_signup>button:nth-child(3) {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 120px;

}

#login_signup>button:nth-child(3) {
    background-color: #007c89;
    border: none;
}

#log {
    color: white;
}

#space {
    background-color: #f9e0fa;
    height: 250px;

}

#A {
    background-color: #f9e0fa;
}


#secA {
    display: flex;
    width: 70%;
    margin: auto;
    height: 100%;
}

#secA1 {
    width: 40%;
}

#secA1p {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: rgb(36, 28, 21);
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#secA1l {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 54px;
    color: rgb(36, 28, 21);
    margin-bottom: 50px;

}

#secA1p1 {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 24px;
    line-height: 33.6px;
    color: rgb(36, 28, 21);
    margin-bottom: 35px;
}

#secA1>button {
    width: 170px;
    height: 70px;
    background-color: #007c89;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 50px;
}

#secA1>button>a {
    color: white;
}

#secA2 {
    width: 60%;
}

#secA2>img {
    width: 100%;
}

#B {
    background-color: #f6f6f4;
}

#secB {
    padding-top: 100px;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 22vh;
}

#secB1 {
    width: 50%;
}

#secB1>img {
    width: 100%;
}

#secB2 {
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secB2>p {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(36, 28, 21);
}

#secC1 {
    padding-top: 18vh;
    width: 33vw;
    margin: auto;
    text-align: center;
}

#secC1p1 {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 54px;
    color: rgb(36, 28, 21);
    margin-bottom: 30px;
}

#secC1p2 {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(64, 59, 59);
    padding-bottom: 18vh;
}

#secC2 {
    display: flex;
    width: 75%;
    margin: auto;
    gap: 20px;
    text-align: center;
}

.ref {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 31.2px;
    color: rgb(36, 28, 21);
}

.ref>h3 {
    margin-bottom: 30px;
}

.para {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(64, 59, 59);
    margin-bottom: 20px;
}

.learn {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20.25px;
    color: rgb(0, 78, 86);
}

#C {
    padding-bottom: 25vh;
}

#D {
    background-color: #fbeeca;
}

#secD {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 25vh;
    padding-bottom: 20vh;
    justify-content: space-between;
}

#secD1 {
    width: 40%;
    padding-top: 80px;
}

#secD2 {
    width: 50%;

}

#secD2>img {
    height: 100%;
}


#secD1>p:nth-child(1),
#secH1>p:nth-child(1) {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(36, 28, 21);
    margin-bottom: 30px;
}

#secD1>p:nth-child(2),
#secH1>p:nth-child(2) {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(64, 59, 59);
    margin-bottom: 30px;
}

#secD1>button,
#secH1>button {
    border: 1px solid #004e56;
    width: 250px;
    height: 70px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.25px;
    background-color: transparent;
}

#secD1>button>a,
#secH1>button>a {
    color: #004e56;
}

#seg {
    width: 40%;
    margin: auto;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 54px;
    color: rgb(36, 28, 21);
    padding-top: 15vh;
    padding-bottom: 18vh;
}

#secE,
#secF,
#secG {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;

}

#secE1>img,
#secF1>img,
#secG1>img {
    width: 100%;
}

#secE1,
#secF1,
#secG1 {
    width: 50%;
}

#secE2,
#secF2,
#secG2 {
    width: 35%;
}


#secE2>p:nth-child(1),
#secF2>p:nth-child(1),
#secG2>p:nth-child(1) {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(36, 28, 21);
    margin-bottom: 30px;
    margin-top: 15vh;
}

#secE2>p:nth-child(2),
#secF2>p:nth-child(2),
#secG2>p:nth-child(2) {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(64, 59, 59);
}

#H {
    background-color: #f6f6f4;
}

#secH {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 10vh;
}

#secH1 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#secH2 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 50%;
}

#secH2>img {
    width: 100%;
}

#video {
    width: 58.5%;
    height: 500px;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

#video>img {
    width: 100%;
    height: 100%;

}

#video>iframe {
    width: 100%;
    height: 100%;
}

#below_video {
    width: 50%;
    margin: auto;
}

#below_video>p:nth-child(1) {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 47.04px;
    color: rgb(36, 28, 21);
    padding-bottom: 20px;
}

#below_video>p:nth-child(2) {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(36, 28, 21, 0.65);
    padding-bottom: 60px;
}

#below_video>button {
    border: 1px solid #004e56;
    width: 250px;
    height: 70px;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.25px;
    background-color: transparent;
    margin-bottom: 14vh;
}

#below_video>button>a {
    color: #004e56;
}

#I {
    background-color: #f6f6f4;
}

#secI {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#secI>div:nth-child(1) {
    width: 45%;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(36, 28, 21);
}

#secI>div:nth-child(2) {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 31.2px;
    color: rgb(36, 28, 21);
    width: 50%;
}

#secI>div:nth-child(2)>hr {
    margin-bottom: 13px;

}


#secI>div:nth-child(2)>p>a:hover {
    color: #2e8891;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 29px;
}

#J>div {
    width: 70%;
    margin: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

#J>div>h2 {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
}


.badu {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.badu:hover {
    color: #2e8891;
    text-decoration: underline;
    cursor: pointer;
}

.chotu {
    display: none;
    padding-left: 40px;

}

.chotu {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(64, 59, 59);
    padding-bottom: 20px;
    width: 50%;
}

.badu {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.expand_img {
    width: 30px;
}

#K {
    background-color: #FFE01B;
}

#secK {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;

}

#secK>p:nth-child(1) {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 74px;
    font-weight: 300;
    line-height: 74px;
    color: rgb(36, 28, 21);
    padding-bottom: 7vh;
}

#secK>p:nth-child(2) {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 300;
    Line-height: 33.6px;
    color: rgb(36, 28, 21);
    width: 65%;
    margin: auto;
    padding-bottom: 5vh;
}

#secK>button {
    width: 160px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    background-color: #007c89;
    color: white;
    border: none;
}

#secK>button>a {
    color: white;
}

#L{
    padding-bottom: 15vh;
}

#secL {
    width: 70%;
    margin: auto;
}

#secL>h1 {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 35.2px;
    color: rgb(36, 28, 21);
    padding-top: 15vh;
    padding-bottom: 5vh;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#container>div>img {
    width: 100%;
    padding-bottom: 10px;
}

#container>div>p:nth-child(2) {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: rgb(36, 28, 21);
    padding-bottom: 10px;

}

#container>div>p:nth-child(3) {
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 31.2px;
    color: rgb(0, 78, 86);
    padding-bottom: 10px;
}

#container>div>p:nth-child(4) {
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(64, 59, 59);
    padding-bottom: 10px;
}

.changeWindow{
    cursor: pointer;
}
.changeWindow1{
    cursor: pointer;
}