#navbar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding-top: 110px;
}
h1{
font-family:"Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 24.3px;
color: rgb(0, 0, 0);

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:80%;
    height:auto;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    
 }
 #container>div{
    border:1px solid grey;
    height:450px
 }
 h2{
    font-family: "Means Web", Georgia, Times, "Times New Roman",serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    color: rgb(36, 28, 21);
    margin-left: 30px;
 }
 p{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 font-size: 16px;
 font-weight: 400;
 line-height: 21px;
 color: rgb(64, 59, 59);
 margin-left: 30px;
 margin-bottom: 45px;
 }
 h6{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 font-size: 15px;
 font-weight: 400;
 line-height: 18px;
 color: rgb(64, 59, 59);
 margin-left: 30px;
 margin-top: 11px;
 }
 #money{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
 Font-size: 50.8276px;
 Font-weight: 400;
 Line-height: 35.5793px;
 color: rgb(36, 28, 21);
 margin-top: -45px;
 margin-left: 40px;
 }
 .month{
    margin-top: -70px;
    margin-left: 40px;
    font-size: 16px;
 }
 .buy{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
 Font-size: 16px;
 Font-weight: 600;
 Line-height: 18.9px;
 color: rgb(255, 255, 255);
 background-color:#408080;
 border: none;
 padding: 15px 30% 15px 30%;
 margin-left: 10%;
 margin-top: -25px;

 }
 .start{
    margin-top: -30px;
 }
 #compare{
    width:250px;
    height:65px;
    margin:auto;
    border:1px solid skyblue;
    align-items: center;
    margin-top: 40px;
 }
 #your{
    font-family:  "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 18px;
    Font-weight: 600;
    Line-height: 20.25px;
    color:rgb(0, 32, 35);
    margin: 22px 30px 22px 30px;
 }
 #box6{
    width:55%;
    height:auto;
    margin: auto;
    text-align: center;
 }
 #feature{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 25px;    
    Font-weight: bold;    
    Line-height: 24.2px;    
    color: rgb(36, 28, 21);
    text-align: center;
    padding-top: 80px;
 }
 #create{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 16px;    
    Font-weight: 400;    
    Line-height: 24px;    
    color: rgb(36, 28, 21);
    text-align: center;
    margin-top: 20px;
 }
 #box7{
    height:300px;
    background-color: #E1EFEF;
    margin-top: 70px;
 }
 #more2{
    width:170px;
    height:65px;
    border:1px solid skyblue;
    margin-left: 45%;
    margin-top: 30px;
    background-color: #2d7171;;
   
 }
 .web{
    font-family:  "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 19px;   
    Font-weight: 600;   
    Line-height: 20.25px;   
    color:white;
    margin-top: 20px;
 }
 
 #box8{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:75%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
 }
 #box8>div>img{
    width:90%;
    height:400px;
 }
 .more4{
    width:300px;
    height:65px;
    border:1px solid skyblue;
    margin-top: 50px;
    margin-left: 30px;
    background-color: #2d7171;;
 }
#also{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 32px;    
    Font-weight: 300;    
    Line-height: 35.2px;    
    color: rgb(36, 28, 21);
    margin-left: 30px;
}
#container2{
    display: grid;
    width:100%;
    height:300px;
    background-color: #ABD2D2;
    margin-top: 120px;
   
}
#add{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 54px;    
    Font-weight: 300;    
    Line-height: 54px;    
    color: rgb(36, 28, 21);
    text-align:  center;
    margin-top:7%;
}
#container3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
   
}
#container3>div>img{
    width:100%;
    height:350px
}
#on{
margin-top: 150px;
margin-left: 37%;
font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
Font-size: 54px;
Font-weight: 300;
Line-height: 54px;
color: rgb(36, 28, 21);
}
#custom{
    margin-top:-30px;
    margin-left: 0px;
}
#find{
    width:220px;
    height:65px;
    border:1px solid skyblue;
    background-color: #2d7171;
    
}
#domain{
    font-size: 20px;
    color:white;
    margin-top: 20px;
}
#box2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:80%;
    height:auto;
    margin: auto;
    margin-top: 260px;
    justify-content: center;
    align-items: center;
    gap:50px;
 }
 #box2>div:nth-child(2){
     border-left:1px solid grey;
     height: 300px;
 }
 .also{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 33px;   
    Font-weight: 300 ; 
    Line-height: 35.2px ; 
    color: rgb(36, 28, 21);
    margin-left: 22px;
 }
 .para{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 24px;
    color: rgb(64, 59, 59)
 }
 button:hover{
   background-color: green;
}
 #more5{
    width:180px;
    height:65px;
    border:1px solid skyblue;
    margin-top: 50px;
    margin-left: 30px;
    margin-top: 95px;
 color:white;
 background-color: #408080;
 }
 #more6{
    width:180px;
    height:65px;
    border:1px solid skyblue;
    margin-top: 50px;
    margin-left: 30px;
    margin-top: 110px;
 color: #408080;
 background-color: #408080;
 margin-top: 50px;
 }
 #box10{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:75%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 200px;

 }
 
 #need{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 54px;    
    Font-weight: 300;    
    Line-height: 54px;    
    color: rgb(36, 28, 21);
 }
 #unblock{
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 20px;    
    Font-weight: 300;    
    Line-height: 30px;    
    color: rgb(64, 59, 59);
 }
 #faq{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 32px;   
    Font-weight: 300;   
    Line-height: 35.2px;   
    color: rgb(36, 28, 21);
    margin-left: 190px;
    margin-top: 100px;
 }
 #que{
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 5, 200px;
    width:80%;
    margin: auto;
    justify-content: center;
    align-items: center;
 }
 #que>div{
    border-bottom:1px  solid black;
    display: grid;
    grid-template-columns: 90% 10%;
 }
 .ans{
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    Font-size: 20px;   
    Font-weight: 300;   
    Line-height: 26px;   
    color: rgb(37, 37, 37);
    margin-top: 50px;
 }
 .plus{
   margin-top: 50px;
   font-size: 26px;
   color: #164a4a;
 }
 #box5{
    display: grid;
    grid-template-columns: repeat(6,200px);
    height:auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #DADDDD;
 }
 #box5>div{
    
    height: 500px;
 }
 .fotter{
    font-family:  "Graphik Web", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    Font-size: 13px;   
    Font-weight: 400;   
    Line-height: 17.55px;   
    color: rgb(36, 28, 21);
    margin-top: -30px;
 }
 #heading{
    margin-bottom: 60px;
    margin-left: 27px;
    margin-top: 50px;
 }
 .img1{
    width:85%;
    height: 40px;
    margin-top: 45px;
 }
 #box4{
    display: flex;
    margin-top: 130px;
    height: 100px;
    background-color: #DADDDD;
    border-bottom: 1px solid grey;
 }
 #p1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 390px;
 }
 p{
    margin-top: 40px;
 }
 #nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   width: 96.9%;
   margin: auto;
  
   background-color: #ffe01b;
   padding: 0px 20px;
   position: fixed;
   top: 0px;
}
#main{
   margin-top: 0px ;
}
#option{
   display: flex;
   gap: 20px;
}
#logo{
   width: 200px;
}
#logo>img{
   width: 100%;
}
#right_option{
   display: flex;
   align-items: center;
   gap: 20px;
}
#cont{
   display: flex;
   flex-direction: column;
   text-align: center;
}
#worldmap{
   display: flex;
   align-items: center;
   gap: 20px;
}
#login{
   background-color: transparent;
   border: 1px solid black;
   padding: 10px 15px;
   transition: 0.2s linear;
   
}
@keyframes float{
   from{
      transform: rotate(5deg);
   }
   to{
      transform: rotate(-5deg);
   }
}
.websites{
   text-transform: uppercase;
   text-shadow:0 1px  yellow,0 2px 0 yellow,0 3px yellow, 0 4px 0 yellow;
   animation: float 3s linear infinite alternate
}
#login1{
   background-color: transparent;
   border: 1px solid black;
   padding: 10px 15px;
   transition: 0.2s linear;
   margin-top: 25px;

}
#Signup1{
   background-color: #007c89;
   color: aliceblue;
   border: none;
   padding: 10px 15px ;
   transition: 00.2s linear;
}
#login:hover{
   background-color: rgb(230, 224, 224);
}
#Signup1:hover{
   background-color: #0c5a63;
}